 <!DOCTYPE html>
<html lang="es-ec">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>@ViewBag.Title | AI</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="screen" />
    <meta name="apple-mobile-web-app-title" content="AI">
    <meta name="application-name" content="AI">
    <meta name="msapplication-config" content="/Resources/Media/browserconfig.xml?v=gAazaK3O3l">
    <meta name="theme-color" content="#002264">
    <link href="https://fonts.googleapis.com/css?family=Asul|BioRhyme|Cormorant+Garamond|Dancing+Script|Lobster|Song+Myung|Tajawal|Tenali+Ramakrishna" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114565605-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-114565605-1');
    </script>

</head>
<body>
    <nav class="ui top attached inverted stackable menu "  id="main-menu">
        <a class="item" id="main-sidebar-trigger">
            <i class="sidebar icon"></i>
            Menu
        </a>
        
         
    </nav>
    <aside id="main-sidebar" class="ui six wide vertical sidebar menu" >
        <br /><br /><br /><br />
                          <div class=" ui center aligned segment ">
                                      <h3 style="font-family: 'BioRhyme', cursive;">Menú Principal</h3>
                              <img src="~/Content/menu.jpg" width="250" height="150" />
                          </div>     
                              <div class="item  ">
                                  <br/>
                                  <div class="header">
                                      <h3>Ejercicios</h3>
                                  </div>
                                  <div class="labeled compact menu">
                                      <a class="item" href="@Url.Action("Index", "Home")">

                                          <i class="fa fa-terminal  fa-2x" aria-hidden="true" ></i>
                                          <span style="margin-right:1.0em"></span> 
                                          <span style="font-size: 16px;"><strong>TensorFlow JS</strong></span>

                                      </a>
                                  </div>
                              </div>
                              
                        

    </aside>
    <main class="ui attached pusher">
        <div id="main-content">
            <div class="ui stackable grid">

                @RenderBody()
                <div class="row">
                    <div class="ui sixteen wide column">
                        <div class=" ui center aligned  raised segment ">
                            <h1 style="font-family: 'BioRhyme', cursive;">Proyecto De Inteligencia Artificial</h1>
                            <img src="~/Content/Home.jpg" />
                            <br/>
                            <button class="ui massive red inverted int button">Integrantes</button>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <div class="ui integrantes modal">
            
            <div class="header">
                Integrantes
            </div>
            <div class="image content">
                <div class="ui medium image">
                    <img src="~/Content/uees.png" />
                </div>
                <div class="description">
                    <div class="ui header">Universidad de Especialidades Espiritu Santo</div>
                    <p> <strong>Docente: </strong> Marco Vinicio Sotomayor</p>
                    <p> <strong>Estudiantes: </strong></p>
                    <p>Juan Diego Aguilar</p>
                    <p>Paolo Verni</p>
                    <p>Christian Guevara</p>
                    <p>Fernando Rojas</p>

                </div>
            </div>
            <div class="actions">
                <div class="ui black deny button">
                    Cerrar
                </div>
            </div>
        </div>
        <footer class="ui inverted vertical bottom attached   segment">
            
        </footer>
    </main>
    @Scripts.Render("~/bundles/general")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/semantics")
    <script>
        $('#main-sidebar')
            .sidebar('attach events', '#main-sidebar-trigger')
            .sidebar('setting', 'transition', 'overlay');
        $('.ui.dropdown').dropdown();
        $('.integrantes.modal')
                .modal('attach events', '.int.button', 'show')
            ;
        @*var buscadorOptions = {
            apiSettings: {
                url: '@Url.Action("BusquedaOrdenes", "Ordenes", new { area = "Tracking" })?codigo={query}',
                method: 'post'
            },
            minCharacters: 4,
            error: {
                noResults: 'No se han encontrado guias'
            }
        };
        $('#buscador').search(buscadorOptions);*@
    </script>
    @RenderSection("scripts", false)

</body>
</html>